:root {
  --color-base-background: #ecf4ef;
  --color-base-background-lighter: #DBE6AE;
  --color-base-text: rgba(33, 33, 33, 0.92);
  --color-base-text-lighter: #5c5c5c;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #62664E;
  --color-primary-text: #62664e;
}
